<ion-header>
  <ion-navbar color="navBar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Culinária Imperial</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page-ImperialCookingList" padding>
  <ion-list class="list-structure">
    <ion-item class="ion-item">
      <ion-icon name="beer" class="icon-margin"></ion-icon>Aprendiz<br>
    </ion-item>
    <ion-item class="list-background" *ngFor="let item of imperialItemListAprendiz" (click)="itemTapped($event, item)">{{item.name}}</ion-item>
    <ion-item class="ion-item">
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      Proficiente<br>
    </ion-item>
    <ion-item class="list-background" *ngFor="let item of imperialItemListProficiente" (click)="itemTapped($event, item)">{{item.name}}</ion-item>
    <ion-item class="ion-item">
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      Profissional<br>
    </ion-item>
    <ion-item class="list-background" *ngFor="let item of imperialItemListProfissional" (click)="itemTapped($event, item)">{{item.name}}</ion-item>
    <ion-item class="ion-item">
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      Artesão<br>
    </ion-item>
    <ion-item class="list-background" *ngFor="let item of imperialItemListArtesao" (click)="itemTapped($event, item)">{{item.name}}</ion-item>
    <ion-item class="ion-item">
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      <ion-icon name="beer" class="icon-margin"></ion-icon>
      Mestre<br>
    </ion-item>
    <ion-item class="list-background" *ngFor="let item of imperialItemListMestre" (click)="itemTapped($event, item)">{{item.name}}</ion-item>
  </ion-list>
</ion-content>
