.page-imperialCalc {text-align: center; background: linear-gradient(to bottom right, #3a1e07, black);}
.icon-margin{margin-right: .3em;}
.list-background{background-color: #d8d6d2;}
.list-structure{margin-top: 1em;}
.pInformation{color: #e6e6e6;text-align: left;}
