.page-imperialCalc {}

.page-imperialCalc .pInformation{color: #e6e6e6;text-align: left;}

.page-imperialCalc .list-structure{margin-top: 1em;}
.page-imperialCalc .list-structure .icon-margin{margin-right: .3em;}
.page-imperialCalc .list-structure .list-background {background-color: #d8d6d2;}


