.page-TradeCalc {}

.page-TradeCalc .pInformation{color: #e6e6e6;text-align: left;}

.page-TradeCalc .list-structure{margin-top: 1em;}
.page-TradeCalc .list-structure .icon-margin{margin-right: .3em;}
.page-TradeCalc .list-structure .list-background {background-color: #d8d6d2;}