.page-ingredientCalc{}

.page-ingredientCalc .list-structure{margin-top: 1em;}
.page-ingredientCalc .list-structure .icon-margin{margin-right: .3em;}
.page-ingredientCalc .list-structure .list-background {background-color: #d8d6d2;}
