.page-ingredientCalc{}

.page-ingredientCalc .list-structure{margin-top: 1em;}
.page-ingredientCalc .list-structure .ion-item {background-color: #242529; color: white;}
.page-ingredientCalc .list-structure .icon-margin{margin-right: .3em;}
.page-ingredientCalc .list-structure .list-background {background-color: #c8cad0;}
