.page-home {}

.page-home .ion-card {background-color: #777c88;}
.page-home .ion-card .ion-card-img {max-height: 50px; max-width: 50px; margin: auto; margin-top: 1em;}
.page-home .ion-col-magin {margin: auto;}