.page-tradeItem {}

.page-tradeItem .ion-item {background-color: #d8d6d2; margin-bottom: 1em; max-height: 6em;}
.page-tradeItem .ion-item .thumbnail-size{min-width: 40px !important; min-height: 40px !important;}
.page-tradeItem .thumbnail-size .img-size{width: 40px !important; height: 40px !important;}

.page-tradeItem .ion-item-list {background-color: #d8d6d2; max-height: 3em;}
.page-tradeItem .ion-item-list .thumbnail-size {min-width: 40px !important; min-height: 40px !important;}