.page-horses {}

.page-horses .ion-select {margin: auto; background-color: #242529; color: white;}

.page-horses .ion-card-img {margin: auto; max-width: 10em; max-height: 10em; background-color: #777c88;}

.page-horses .ion-card {width: 100%; margin: auto; background-color: #777c88; border-radius: 1em;}
.page-horses .ion-icon-color {color: #242529;} 
.page-horses .ion-att-color {background-color: #242529;}
.page-horses .ion-item {background-color: #c8cad0;}