.page-horses {}

.page-horses .ion-select {margin: auto; background-color: #d8d6d2;}

.page-horses .ion-card-img {margin: auto; max-width: 10em; max-height: 10em;}

.page-horses .ion-card {width: 100%;margin: auto;}
.page-horses .ion-icon-color {color: #3a1e07;}
.page-horses .ion-att-color {background-color: #3a1e07;}
.page-horses .ion-item{background-color: #d8d6d2;}