.page-ingredient {}

.page-ingredient .ion-item{background-color: #d8d6d2; margin-bottom: 1em; max-height: 3em;}
.page-ingredient .ion-item .thumbnail-size{min-width: 40px !important; min-height: 40px !important;}
.page-ingredient .thumbnail-size .img-size{width: 40px !important; height: 40px !important;}

.page-ingredient .ion-item-color{background-color: rgba(216,214,210,0.3);}