.page-ImperialCookingCalc {}

.page-ImperialCookingCalc .pInformation{color: #e6e6e6;text-align: left;}

.page-ImperialCookingCalc .list-structure{margin-top: 1em;}
.page-ImperialCookingCalc .list-structure .ion-item {background-color: #242529; color: white;}
.page-ImperialCookingCalc .list-structure .icon-margin {margin-right: .3em;}
.page-ImperialCookingCalc .list-structure .list-background {background-color: #c8cad0;}


