.page-foodList{}

.page-foodList .list-structure {margin-top: 1em;}
.page-foodList .list-structure .ion-item {background-color: #242529; color: white;}
.page-foodList .list-structure .icon-margin {margin-right: .3em;}
.page-foodList .list-structure .list-background {background-color: #c8cad0;}
