.page-foodCalc{}

.page-foodCalc .pInformation{color: #e6e6e6;text-align: left;}

.page-foodCalc .list-structure{margin-top: 1em;}
.page-foodCalc .list-structure .icon-margin{margin-right: .3em;}
.page-foodCalc .list-structure .list-background {background-color: #d8d6d2;}
