.page-foodCalc{}

.page-foodCalc .list-structure {margin-top: 1em;}
.page-foodCalc .list-structure .ion-item {background-color: #242529; color: white;}
.page-foodCalc .list-structure .icon-margin {margin-right: .3em;}
.page-foodCalc .list-structure .list-background {background-color: #c8cad0;}
